.PhotoCard {
 width: 1200px;
 background-color: #e4e4e4;
 border-radius: 20px;
 height: 500px;
 display: flex;
 align-self: flex-start;
 margin: 0px auto;

 &__image {
  border-radius: 20px;
  height: 100%;
  width: 600px;
  object-fit: cover;
 }

 &__info {
  width: 100%;
  padding: 20px;
  position: relative;
 }

 &__header {
  float: right;
 }

 &__navSettings {
  position: absolute;
  border: 1px solid #ccc;
  right: 20px;
  li{
   list-style: none;
   background-color: #fff;
   padding: 6px;
   cursor: pointer;
  }
 }

 &__btnSetting{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 22px;
 }

 &__delete {
  border: none;
  cursor: pointer;

  img {
   width: 45px;
   height: 45px;
   object-fit: cover;
  }
 }

 &__title {
  font-weight: 600;
  font-size: 26px;
 }

 &__desc {
  color: #8a8a8a;
  margin: 10px 0px;
 }

 &__profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
   width: 50px;
   height: 50px;
   object-fit: cover;
   border-radius: 200px;
   cursor: pointer;
  }

  .profile__info {
   margin-left: 10px;

   h4 {}

   p {
    color: #9a9a9a;
   }
  }
 }
}